venv
controller/database.db
*.pyc
.idea
.vscode
**/*.log
**/*.~vsdx
**/*config.toml
**/.venv
**/test.py
controller/schedule/api.py
*.deb
controller/schedule/schedule_pb2_grpc.py
controller/schedule/schedule_pb2.pyi
controller/schedule/schedule_pb2.py
